{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login-container">
        <h1 class="login-title">Connexion à votre compte</h1>

        {% if error %}
            <div class="login-error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form method="post" class="login-form">
            <label for="username">Email</label>
            <input type="email" name="_username" id="username" value="{{ last_username }}" required autofocus>

            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn-submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
