{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/beneficiary.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <h1>List of non persisted beneficiaries</h1>

    <div class="beneficiary-search">
        <div>
            <label>
                <input type="text" id="beneficiarySearchInput" placeholder="Rechercher un bénéficiaire...">
            </label>
        </div>
    </div>

    {% include 'beneficiary/partials/_beneficiary_list.html.twig' with { beneficiaries: beneficiaries } %}
</div>
{% endblock %}