.beneficiary-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.beneficiary-card {
    width: calc(20% - 1rem);
    box-sizing: border-box;
    text-align: center;
}